
body
{ 
    background-color: black;
    background-image: url("****.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position:  center;
}


@font-face {
    font-family: 'Ojack';
    src: url('../SquaredDisplay.ttf');    
}


a
{
   color:yellow;
   text-decoration:none;
}

table
{

    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */


 /*   margin-left:32%;*/

}

td, th /* Toutes les cellules des tableaux... */

{

    border: 1px solid chartreuse; /* auront une bordure de 1px */
    width:15%; 

}




h1
{
    color: chartreuse;
    font-size: 118%;
    text-align: center;

}

h2
{
    color: yellow;
    font-size: 98%;
    margin-left:25%;
    padding-left:2%; 
    padding-right:2%; 
    text-align: center;


}

h3
{
    color: chartreuse;

    text-align: center;

}

h4
{
    border: 4px green double;
    border-radius: 10px;
    width: 140px;
    text-align: center;
    margin-left: 15%;
    font-family: 'Ojack', Arial, serif;        
    font-size: 20px;
}

#element0  
{       
    display: flex;
    flex-direction: row;
    justify-content:center;

    align-items: center;



}

.element0:nth-child(1)
{




}

.element0:nth-child(2)
{





}

.element0:nth-child(3)
{

}


/*/////////////////////////////////////////////////////////////////////////////////////*/

/* Sur tous types d'écrans orientés verticalement */

@media all and (orientation: portrait)
{


body
{ 
    background-color: black;
    background-image: url("****.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position:  center;
}

table

{

    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
    text-align: center;

 /*   margin-left:32%;*/

}

td, th /* Toutes les cellules des tableaux... */

{

    border: 1px solid chartreuse; /* auront une bordure de 1px */

}




h1
{
    color: chartreuse;

    text-align: center;

}

h2
{
    color: yellow;


    padding-left:2%; 
    padding-right:2%; 
    text-align: center;


}

h3
{
    color: chartreuse;

    text-align: center;

}

h4
{
    color: yellow;

    text-align: center;

}

#element0  
{       
    display: flex;
    flex-direction: row;
    justify-content:center;

    align-items: center;



}

.element0:nth-child(1)
{




}

.element0:nth-child(2)
{





}

.element0:nth-child(3)
{

}


